<div id="content_left"> 
	<div id="profile_image"><%=s3_image_link @band.profile_image %></div>
	<div class="header_profile_text">Next Show</div> 
	<div style="clear: both; margin-bottom: 10px; margin-left: 10px">
		<div class="upcoming_shows_sidebar">
			<div class="list sidebar" gig_id="584"> 
				<div class="list_date_small"> 
					<div class="list_date_day_name"> 
						<div>F</div> 
						<div>R</div> 
						<div>I</div> 
					</div> 
					<div class="list_date_month">MAR</div> 
					<div class="list_date_day">11</div> 
					<div class="list_date_time">9:00 PM</div> 
				</div> 
				<div class="list_details_small"> 
					<div class="list_name_small">The Dry Bean</div> 
					<div class="list_address_small">5264 Verona Rd</div> 
					<div class="list_address_small">Madison, WI</div> 
				</div> 
													
				<br class="clearfloat" /> 
			</div>
		</div>
		<div id="view_calendar">View Show Calendar</div>
	</div> 
	
	<div class="header_profile_text">Availability</div> 
	<div class="profile_box"> 
		<div id="profile_details">
			<div class="check_list">Available for Bookings</div>
		</div> 
	</div> 
    
	<div class="header_profile_text">Contact Info</div> 
    <div class="profile_box" style="line-height: 18px">
    	<div class="contact_email">
    		<a href="mailto:NettieWeberPresents@gmail.com">Contact via Email</a>
		</div>
		<div class="contact_phone">
			608-931-3630
		</div>
		<div class="contact_link">
			<a href="http://www.BlueOlives.com" target="_blank">Visit Website</a>
		</div>
		<div class="contact_link">
			<a href="http://www.facebook.com/TheBlueOlives" target="_blank">Visit Facebook</a>
		</div>
		<div class="contact_link">
			<a href="http://www.myspace.com/TheBlueOlives" target="_blank">Visit MySpace</a>
		</div>
	</div>
	 
	<div style="height: 0px;"> 
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="165" height="0" id="niftyPlayer1" align=""> 
			<param name="movie" value="dmw/js/nifty/niftyplayer.swf?as=1"> 
			<param name="quality" value="high"> 
			<param name="bgcolor" value="#FFFFFF"> 
			<embed src="dmw/js/nifty/niftyplayer.swf?as=1" quality="high" bgcolor="#FFFFFF" width="165" height="0" name="niftyPlayer1" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed> 
		</object> 
	</div> 
</div>


<div id="content_right"> 
	<div id="right_header"> 
		<h1>The Blue Olives</h1> 
	</div> 
	<div id="right_nav"> 
		<div section="biography" class="nav_button">Biography</div> 
		<div section="discography" class="nav_button nav_button_not_selected">Discography</div> 
		<div section="setlist" class="nav_button nav_button_not_selected">Set List</div> 
		<div section="members" class="nav_button nav_button_not_selected">Members</div> 
		<div section="music" class="nav_button nav_button_not_selected">Music</div> 
		<div section="photos" class="nav_button nav_button_not_selected">Photos</div> 
		<div section="videos" class="nav_button nav_button_not_selected">Videos</div> 
		<!--
		<div section="contact" class="nav_button nav_button_not_selected">Contact</div>
		-->
	</div> 
	
	<div id="content_right_details_full"> 
		<div class="details" id="biography_content">EPK, SHOW SCHEDULE, BAND &amp; BOOKING INFO CAN BE FOUND AT:<br /> 
www.BlueOlives.com<br /> 
<br /> 
Regularly booked at House of Blues- Chicago, The Blue Olives have performed over 3000 shows in 9 states and play 150 shows a year. This powerhouse band, comprised of professional studio artists, flourishes in environments ranging from an open jam format to headliner &amp; opening act spots. Sassy horns, killer vocal harmonies, searing guitar and funky bass &amp; rhythm sections, including a drummer who has toured internationally with Grammy award winning groups DC Talk &amp; Rebecca St. James, are the cornerstones of this group which will blow you away live! In 2010 they opened for Eddie Money at House of Blues- Chicago and in the past have opened at Summerfest (Milwaukee) for Lynyrd Skynyrd and have shared stages and venues with Santana, Sting, Los Lobos, James Taylor, Steve Winwood, and more. They have won 3 MAMAs (Madison Area Music Awards) for Best Vocal Ensemble, Best Jazz Ensemble and Best Cover Band. The band plays a mixture of blues, funk, classic rock, jazz, and R&amp;B oriented material. They have over 400 songs in repertoire and change set lists based on the venue they are booked at.<br /> 
<br /> 
In 1994 Dave Turner started The Blue Olives as a three piece band. Dave has been the leader and guiding force for The Blue Olives for over 15 years. In the early years the band had only moderate success until Dave brought on Johnny Payne and his &quot;1000 watt voice.&quot; After being joined by several horn players, including Anton Seda, around 1996, they now perform with a varying line-up of up to 9 players.<br /> 
<br /> 
While the focus these days is on performing original material, the band still brings their tremendous wall of sound to cover songs from musicians like Steely Dan, B.B. King, Aretha Franklin, Chicago, and many more.<br /> 
<br /> 
Influences: Robben Ford, BB King, Frank Zappa, Jeff Beck, John Mayer, Carlos Santana, ZZ Top, Stevie Ray Vaughan, Steely Dan, Jimmy Herring, Jazz is Dead, Miles Davis, Victor Wooten, Neville Brothers, Maceo Parker, Tower of Power<br /> 
<br /> 
Instrumentation:<br /> 
<br /> 
Dave Turner- Guitar &amp; Vocals<br /> 
<br /> 
Johnny Payne- Bass &amp; Vocals<br /> 
<br /> 
Ron Tuttle- Drums<br /> 
<br /> 
Joan Herzing- Sax &amp; Vocals<br /> 
<br /> 
Ryan Shea- Sax<br /> 
<br /> 
Todd Phipps- Keyboard, B3 Hammond Organ &amp; Vocals<br /> 
<br /> 
Anton Seda, Jr- Trombone</div> 
<div class="details hide" id="discography_content"><div class="list list_discography" ><div class="list_icon"><img width="50" height="50" src="http://slbimages.s3-website-us-east-1.amazonaws.com/ebn06n8jn36d4bzz.jpg" /></div><div class="list_details" style="width: 460px !important;"><div class="list_city" style="float: right; padding-top: 18px;  color: #777">1 tracks</div><div class="list_name" style="padding-top: 8px; color: #444">Marmalade</div><div class="list_city" style="color: #777">2009</div></div><div class="clearfloat"></div><div class="hide list_payload" style="margin-left: 70px"><div style="color: #aaa;">Tracks</div><div class="disco_track_num" style="color: #666">1.</div><div class="disco_track" style="color: #666">No More</div><div class="clearfloat"></div></div></div><div class="list list_discography" ><div class="list_icon"><img width="50" height="50" src="http://slbimages.s3-website-us-east-1.amazonaws.com/gwmricn5ga50h2i3.jpg" /></div><div class="list_details" style="width: 460px !important;"><div class="list_city" style="float: right; padding-top: 18px;  color: #777">1 tracks</div><div class="list_name" style="padding-top: 8px; color: #444">Juice</div><div class="list_city" style="color: #777">1998</div></div><div class="clearfloat"></div><div class="hide list_payload" style="margin-left: 70px"><div style="color: #aaa;">Tracks</div><div class="disco_track_num" style="color: #666">1.</div><div class="disco_track" style="color: #666">Juice</div><div class="clearfloat"></div></div></div><div class="list list_discography" ><div class="list_icon"><img width="50" height="50" src="http://slbimages.s3-website-us-east-1.amazonaws.com/c3jfmfxrjkarjmwk.jpg" /></div><div class="list_details" style="width: 460px !important;"><div class="list_city" style="float: right; padding-top: 18px;  color: #777">1 tracks</div><div class="list_name" style="padding-top: 8px; color: #444">Ripe</div><div class="list_city" style="color: #777">1997</div></div><div class="clearfloat"></div><div class="hide list_payload" style="margin-left: 70px"><div style="color: #aaa;">Tracks</div><div class="disco_track_num" style="color: #666">1.</div><div class="disco_track" style="color: #666">Low Down Funky Blues</div><div class="clearfloat"></div></div></div></div> 
<div class="details hide" id="setlist_content"></div> 
<div class="details hide" id="members_content"><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/m3zcwwo5dcb6ueyj.jpg" /></div><div class="band_member_details"><div class="band_member_name">Anton Seda</div><div class="band_member_position">Horns</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/8rjhzps7gbsmesw4.jpg" /></div><div class="band_member_details"><div class="band_member_name">Dave Turner</div><div class="band_member_position">Lead Guitar</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/60cffwkearv036zd.jpg" /></div><div class="band_member_details"><div class="band_member_name">Joan Herzing</div><div class="band_member_position">Horns</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/0cmywbzu3jvo6yb2.jpg" /></div><div class="band_member_details"><div class="band_member_name">Johnny Payne</div><div class="band_member_position">Bass Guitar</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/c6td7oop0rrg6bq2.jpg" /></div><div class="band_member_details"><div class="band_member_name">Nettie Weber</div><div class="band_member_position">Manager</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/jcg0j0f864c55daq.jpg" /></div><div class="band_member_details"><div class="band_member_name">Ron Tuttle</div><div class="band_member_position">Drums</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/xyzj7p7zar8jdpjx.jpg" /></div><div class="band_member_details"><div class="band_member_name">Ryan Shea</div><div class="band_member_position">Horns</div></div><div class="clearfloat"></div></div><div class="band_member"><div class="band_member_image"><img width="150" height="150" src="/images/members/0wk7iv22cr7zg5ph.jpg" /></div><div class="band_member_details"><div class="band_member_name">Todd Phipps</div><div class="band_member_position">Keyboards</div></div><div class="clearfloat"></div></div></div> 
<div class="details hide" id="music_content"> 
			<div class="mp3_track" filename="/mp3s/tpxhjupvq6z3zdkm.mp3"> 
				<div class="mp3_track_title">BOWLEGGED BETTY.MP3</div> 
				<div class="mp3_track_status"></div> 
				<div class="mp3_track_stop hide"><a href="#" class="stop"><img src="dmw/template/default/images/mp3_stop.png" /></a></div> 
				<div class="mp3_track_play"><a href="#" file="/mp3s/tpxhjupvq6z3zdkm.mp3" class="play"><img src="dmw/template/default/images/mp3_play.png" /></a></div> 
				<div class="clearfloat"></div> 
			</div> 
			<div class="mp3_track" filename="/mp3s/o62woaotqjowm7sq.mp3"> 
				<div class="mp3_track_title">DETOUR.MP3</div> 
				<div class="mp3_track_status"></div> 
				<div class="mp3_track_stop hide"><a href="#" class="stop"><img src="dmw/template/default/images/mp3_stop.png" /></a></div> 
				<div class="mp3_track_play"><a href="#" file="/mp3s/o62woaotqjowm7sq.mp3" class="play"><img src="dmw/template/default/images/mp3_play.png" /></a></div> 
				<div class="clearfloat"></div> 
			</div> 
			<div class="mp3_track" filename="/mp3s/k24tt5upd3dhe5uu.mp3"> 
				<div class="mp3_track_title">HALF A DAY.MP3</div> 
				<div class="mp3_track_status"></div> 
				<div class="mp3_track_stop hide"><a href="#" class="stop"><img src="dmw/template/default/images/mp3_stop.png" /></a></div> 
				<div class="mp3_track_play"><a href="#" file="/mp3s/k24tt5upd3dhe5uu.mp3" class="play"><img src="dmw/template/default/images/mp3_play.png" /></a></div> 
				<div class="clearfloat"></div> 
			</div> 
			<div class="mp3_track" filename="/mp3s/0xhj2x6tesmhj6m0.mp3"> 
				<div class="mp3_track_title">NO MORE.MP3</div> 
				<div class="mp3_track_status"></div> 
				<div class="mp3_track_stop hide"><a href="#" class="stop"><img src="dmw/template/default/images/mp3_stop.png" /></a></div> 
				<div class="mp3_track_play"><a href="#" file="/mp3s/0xhj2x6tesmhj6m0.mp3" class="play"><img src="dmw/template/default/images/mp3_play.png" /></a></div> 
				<div class="clearfloat"></div> 
			</div> 
			<div class="mp3_track" filename="/mp3s/bugij5koew66d3eq.mp3"> 
				<div class="mp3_track_title">WRONG TO CRY.MP3</div> 
				<div class="mp3_track_status"></div> 
				<div class="mp3_track_stop hide"><a href="#" class="stop"><img src="dmw/template/default/images/mp3_stop.png" /></a></div> 
				<div class="mp3_track_play"><a href="#" file="/mp3s/bugij5koew66d3eq.mp3" class="play"><img src="dmw/template/default/images/mp3_play.png" /></a></div> 
				<div class="clearfloat"></div> 
			</div></div> 
<div class="details hide" id="photos_content"><div class="band_photo"> 
			<a rel="lightbox[band_269]" href="/photos//08c6xn5c4oftjv6s.jpg"><img src="/photos/thumbs/08c6xn5c4oftjv6s.jpg" width="160" height="160" /></a> 
			</div><div class="band_photo"> 
			<a rel="lightbox[band_269]" href="/photos//vyrqrfxx5tfqnvzb.jpg"><img src="/photos/thumbs/vyrqrfxx5tfqnvzb.jpg" width="160" height="160" /></a> 
			</div><div class="band_photo"> 
			<a rel="lightbox[band_269]" href="/photos//xjuxzp3y2miq52jq.jpg"><img src="/photos/thumbs/xjuxzp3y2miq52jq.jpg" width="160" height="160" /></a> 
			</div></div> 
<div class="details hide" id="videos_content"><div class="video"> 
		<object height="320" width="530"> 
		<param value="http://www.youtube.com/v/CieIO-puLaM?fs=1&amp;hl=en_US" name="movie"> 
		<param value="true" name="allowFullScreen"><param value="always" name="allowscriptaccess"> 
		<embed height="320" width="530" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/CieIO-puLaM?fs=1&amp;hl=en_US"> 
		</object> 
		</div></div> 
</div> 
</div> 


<script type="text/javascript"><!--
	var selected_section = '';
	
	window.addEvent('domready', function() {
		selected_section = 'biography';
		initNavButtons();
		initLists();
		removeEmptyTabs();
		
		$$('.play').addEvent('click', function(e){
			e.stop();
			$$('.mp3_track_stop').addClass('hide');
			$$('.mp3_track_play').removeClass('hide');
			
			this.getParent().getPrevious().removeClass('hide');
			niftyplayer('niftyPlayer1').loadAndPlay(this.getProperty('file'));
			this.getParent().addClass('hide');
		});
		
		$$('.stop').addEvent('click', function(e){
			e.stop();
			
			this.getParent().getNext().removeClass('hide');
			niftyplayer('niftyPlayer1').playToggle();
			this.getParent().addClass('hide');
		});
		
		if ($('view_calendar')) {
			$('view_calendar').addEvent('click', function(e){
				e.stop();
				window.location = 'index.php?id=calendar&band_id=269';
			});
		}
		
		$$('.list_discography').addEvent('click', function(e){
			var el = this.getChildren('.list_payload')[0];
			new Fx.Reveal(el).toggle();
		});
	});
	
	
	
	function initNavButtons() {
		$$('.nav_button').addEvent('mouseover', function(e){
			this.addClass('nav_button_over');
		});
		
		$$('.nav_button').addEvent('mouseout', function(e){
			this.removeClass('nav_button_over');
		});
		
		$$('.nav_button').addEvent('click', function(e){
			showDetails(this.getProperty('section'), this);
		});
	}
	
	function showDetails(section, clicked) {
		$$('.details').each(function(el){
			if (section + '_content' == el.id) {
				el.removeClass('hide');
				clicked.removeClass('nav_button_not_selected');
				selected_section = section;
			} else {
				el.addClass('hide');
				$$('.nav_button').each(function(el){
					if (el != clicked) el.addClass('nav_button_not_selected');
				});
			}
		});
	}
	
	function initLists() {
		var id = '';
		
		$$('.list').addEvent('click', function(e){
			if (id = this.getProperty('gig_id')) {
				//gigs
				window.location = 'index.php?id=gig&gig_id=' + id;
			} else if (id = this.getProperty('band_id')) {
				//bands
				window.location = 'index.php?id=band&band_id=' + id;
			} else if (id = this.getProperty('venue_id')) {
				//venues
				window.location = 'index.php?id=venue&venue_id=' + id;
			} else if (id = this.getProperty('service_id')) {
				//services
				window.location = 'index.php?id=service&service_id=' + id;
			}
		});
	}
// --></script>
